body {
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    font-family: 'Indie Flower', cursive;
}

.heading {
    text-align: center;
}

h1 {
    text-transform: uppercase;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f9fa0b80;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.message {
    margin-left: 500px;
    margin-right: 500px;
}

.beach {
    text-align: center;
}

.hello {
    padding-right: 300px;
    padding-left: 300px;
}

